<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive =  'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<li class="list-group-item d-flex align-items-center user_list_item <%= isActive %>">
 <%if user.avatar.attached?%>
  <%= link_to image_tag(user.avatar, class: 'chat_pfp'), user %>
  <%end%>
  <%= link_to user.email, user, class:'mr-auto username' %>
</li>
